  
<html>
    <head>
        <title>
                To-DO List app
        </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://use.fontawesome.com/326f4466cf.js"></script>
        <script src="https://kit.fontawesome.com/3317dad89a.js" crossorigin="anonymous"></script>
    </head>
    <body>
            <h1 class="text-center"><i class="fas fa-list-ul"></i> TODO App </h1>

            <div class="main col-md-8 offset-md-2 d-flex justify-content-center">
                <div class="container">
                    <form action="/create-task" method="POST">
                           <div class="description">
                                <label for="description">Description</label><br />
                                <!-- enter the description -->
                                <textarea id="desc-text" name="description" rows="2" cols="80">what do you need to do?</textarea>
                            </div>

                            <!-- enter date and Cateogry -->
                            <div class="row mdt-row">
                                <div class="col-sm" style="border-right: 1px solid rgb(190, 190, 190);">
                                    <label for="category">Category</label>
                                    <br>
                                    <select name="Category" id="category">
                                      <option value="personal">Personal</option>
                                      <option value="work">Work</option>
                                      <option value="school">School</option>
                                      <option value="cleaning">Cleaning</option>
                                      <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="col-sm">
                                    <label for="dueDate">Due Date</label>
                                    <br>
                                    <input type="date" id="due-date" name="dueDate">
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="button-row d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Task&nbsp;&nbsp;</button>
                                <button type="button" class="btn btn-danger">
                                    <a class="text-danger" href="#">
                                        <i class="far fa-trash-alt"></i>&nbsp;&nbsp;Delete Task&nbsp;&nbsp;
                                    </a>                                    
                                </button>
                            </div>


                            <!-- Tasks Row -->
                            <div class="task-row">
                                <ul>
                                    <% for (let i of todo) { %>
                                        <li>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <input type="checkbox" id="tsk-1" name="tsk-1" value="">
                                                            <div class="row tsk-row">                                                                
                                                                <label for="tsk-1"><%= i.description %></label>
                                                            </div>
                                                            <div class="row tsk-row">
                                                                <i class="far fa-calendar-alt" style=" color: rgb(131, 131, 131);"></i>
                                                                <p style="display: inline-block; margin-left: 16px; color: rgb(131, 131, 131);">Jan 31,2021</p>
                                                            </div>                                                    
                                                        </div>
                                                        <div class="col-sm">
                                                            <span class="badge badge-primary"><%= i.category %></span>
                                                        </div>
                                                    </div>                                          
                                                </div>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </form>
                </div>
            </div>
    </body>
</html>